.login-card {
  width: 950px;
  height: 600px;
  box-shadow: 0px 4px 20px 0px #ffe4cc;
}

.master-section {
  background: linear-gradient(180deg, #ff8746, #ff5900);
}

.logo {
  background: linear-gradient(180deg, #ff5900, #ff8746);
  box-shadow: 0px 0px 2px 0px #ffe4cc;
}
