$text-sizes: 12, 16, 21;

$text-size-options: (
  "sm": 0.8,
  "md": 1,
  "lg": 1.2,
  "xl": 1.4,
);

@each $text-size, $multiplier in $text-size-options {
  [data-text-size="#{$text-size}"] {
    @each $text-size in $text-sizes {
      .text-size-#{$text-size} {
        font-size: #{$text-size * $multiplier}px;

        &.q-field--dense {
          .q-field__control,
          .q-field__marginal {
            height: calc((46px * $multiplier) / 4);
            font-size: 16px * $multiplier;
            line-height: 23px * $multiplier;
          }
        }

        .q-field__label {
          top: calc((46 * $multiplier)) px;
        }
      }
    }
  }
}
