@mixin theme-dark {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  --q-dark: #{$dark-page};
  background-color: $dark-page;

  // Custom
  @include colors-dark();
  @include menu-drawer-dark();

  // Quasar
  @include q-drawer-dark();
}
