@mixin theme-light {
  --q-primary: #{$primary};
  --q-secondary: #{$secondary};
  --q-accent: #{$accent};
  background: $accent;

  // Custom
  @include colors-light();
  @include shadows-light();
  @include menu-drawer-light();

  // Quasar
  @include q-drawer-light();
}
